body{
  font-family: 'comic sans ms';
}
h1,h2,h3,h4,h5,h6{
  margin: 0px;
  padding: 0px;
}
h1{
  font-size: 25px;
  padding: 5px 0px;
}
.header{
  color:white;
  background-color: #212530;
  margin: 0px;
}
@media screen and (max-width:768px) {
  h1{
    font-size: 20px;
  }
}
